<style type="text/css">
	#staff{
		background-color:#e6ffff;
		border:2px solid #B8E6E6;
		border-radius: 10px;
		padding:3px;
	
	}
	#customer{
		background-color:#ccff99;
		border:2px solid #B8E68A;
		border-radius: 10px;
		padding:3px;
	}
	.comment{
		margin:1% 1% 1% 1% ;

	} 
</style>

<div id="<?$_name?>" >
<?rows?>
<?row?>
<div id="<?user_type?><?/user_type?>" class="comment">
<?comment?>comment<?/comment?>
<br>
<?comment_by?>comment_by<?/comment_by?> on <?comment_at?>comment_at<?/comment_at?>
</div>
<?/row?>
<?/rows?>
<div class="comment">
<?form?>form<?/form?>
</div>
</div>